body {
  margin: 0;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--tc); /*text color*/
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header,
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--bg-dark);
  color: var(--tc); /*text color*/
  padding: 5px;
}

select {
  background-color: var(--bg-color);
  color: var(--tc); /*text color*/
  border-style: dotted;
  border-color: (var(--bg-dark));
  border-radius: 40px;
  padding: 7px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

[data-filter="sunny"] {
  --bg-color: palegoldenrod;
  --bg-dark: goldenrod;
  --tc: gold;
}

[data-filter="rainy"] {
  --bg-color: skyblue;
  --bg-dark: cornflowerblue;
  --tc: darkblue;
}

[data-filter="cloudy"] {
  --bg-color: gray;
  --bg-dark: dimgray;
  --tc: silver;
}
